@model AspMvcFrontEnd.Models.TenantContactModel

@{
    ViewData["Title"] = "Report All Tenant that Contact Not Yet Has Been Confirmed";
}

<h2>ShowNotConfirmed</h2>


<h2>Details</h2>

<div>
    <h4>RentalPackageModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tenant)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tenant)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contact)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contact)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
